<h1> Signin </h1>

<form action= "/verify_credentials" method="post">
  <label for="browser_username">Enter your username</label>
  <input id="brower_username" type="text" name="input_username">
  
  <label for="browser_password">Enter your password</label>
  <input id="brower_password" type="password" name="input_password">

  <button>Signin</button>

</form>
