<h1> Signup </h1>

<form action= "/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="brower_username" type="text" name="input_username">
  
  <label for="browser_password">Password</label>
  <input id="brower_password" type="password" name="input_password">

  <label for="browser_password_confirmation">Confirm your Password</label>
  <input id="brower_password_confirmation" type="password" name="input_password_confirmation">

  <button>Add user</button>
</form>
